.Home {
  background-color: rgba(7, 2, 68, 0.993);
  display: flex;
  flex-direction: column;
}

.Header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 200vh;
  min-height: 5vh;
  border-radius: 10%;
}

.H1-home {
  color:  rgba(7, 2, 68, 0.993);
  font-family: sans-serif;
  font-size: 30px;
}

.Wpp {
    width: 20px;
    height: 20px;
}

.Box-images {
  display: flex;
  width: 80px;
  justify-content: space-around;
  align-items: center;
}

.Box-images:hover {
  cursor: pointer;
}

.Content{
  background-color: rgba(7, 2, 68, 0.993);
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: baseline; 
  color: white;
  font-size: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}


/* CSS PROFILE */


.ContentProfile{
  background-color: rgba(7, 2, 68, 0.993);
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  color: white;
  font-size: 10px;
}

.Profile-logo{
  height: 60vmin;
  width: 120%;
}

.UserProfile{
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  min-height: 60vmin;
  border-radius: 10%;
}

